<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Products</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	
	<script src="js/jquery-1.12.1.js" type="text/javascript"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/npm.js" type="text/javascript"></script>
	<script src="js/myscript.js" type="text/javascript"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
       <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="contacts">   
                    <div class="skype">
                        <a href="skype:zzgroup">
                            <img src="images/skype.png" alt="skype:zzgroup">
                            zzgroup
                        </a>
                    </div>
                    <div class="mail">
                        <a href="mail:info@zzgroup.com.ua">
                            <img src="images/mail.png" alt="mail:info@zzgroup.com.ua">
                            info@zzgroup.com.ua
                        </a>
                    </div>
                </div>
                <div class="button-LK">
                    <a href="#">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Личный кабинет</a>
                </div>
            </div>
        </nav>
        
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <div class="logo">
                            <a href="index.html">
                                <img src="images/logo.png">
                            </a>    
                            <div class="bg-logo"></div>
                        </div>
                    </div>
                    <div class="col-md-6">  
                        <div class="header-content content-area">
                            <div class="header-title">
                                <h3>Мото, вело и бензо</h3>
                                <h2>запчасти оптом</h2>
                                <h4>широкий асортимент  -  низкие цены</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">    
                        <div class="header-phone">
                            <div class="row">
                                <div>Время работы:</div> 
                                <div>24/7 с 7:00 до 17:00</div>
                            </div>
                            <div class="row">
                                <div>+38 (098) 357 67 13</div> 
                                <div>+38 (098) 357 67 13</div>
                                <div>+38 (098) 357 67 13</div>
                            </div>    
                        </div>
                    </div>    
                </div>     
            </div>
        </header>
        <div class="header-content-overlay">
            	
                <!-- .container -->
                <div class="container">
                	
                    <!-- .row -->
                    <div class="row">
                    	
                        <div class="bl-menu col-md-offset-2"> <!-- 1 -->
                        	<div class="header-content-feature">
                                <a href="products.html" class="active">
                                    <i class="fa fa-dropbox" aria-hidden="true"></i>
                                    Товары
                                </a>    
                            </div>
                        </div>
                        
                        <div class="bl-menu"> <!-- 2 -->
                        	<div class="header-content-feature">
                                <a href="orders.html">
                                    <i class="fa fa-commenting-o"></i>
                                    Заказы
                                </a>    
                            </div>
                        </div>
                        
                        <div class="bl-menu"> <!-- 3 -->
                        	<div class="header-content-feature">
                                <a href="#">   
                                    <i class="fa fa-money"></i>
                                    Возвраты
                                </a>
                            </div>
                        </div>
                        
                        <div class="bl-menu"> <!-- 4 -->
                        	<div class="header-content-feature">
                                <a href="#">
                                    <i class="fa fa-leanpub"></i>
                                    Расчёты
                                </a>    
                            </div>
                        </div>
                        
                    </div>
                    <!-- .row end -->
                    
                </div>
                <!-- .container end -->
                
            </div>
                
        <div class="main-content container fluid-container">
            <div class="row products">
                <div id="sidebar" class="col-md-4">
                    <div class="row">
                            <div class="img">
                                <img src="images/products/tovar.jpg" alt=""/>
                            </div>
                            <h4>Амортизатор AD100, AXIS, BWS, JOG90 300mm, регулируемый NDT (красный металлик)</h4>
                            <div class="row attribute">
                                <div class="col-md-5">
                                    <div class="border-grey bg-grey">Заказ</div>
                                    <div class="border-grey bg-grey">Артикул</div>
                                    <div class="border-grey bg-grey">Цена</div>
                                    <div class="border-grey bg-grey">Поставщик</div>
                                </div>
                                <div class="col-md-7">
                                    <div class="border-grey">0</div>
                                    <div class="border-grey">А-457</div>
                                    <div class="border-grey"><strong>8.28$</strong></div>
                                    <div class="border-grey">Motocenter</div>
                                </div>
                            </div>
                            <div class="bread">Экипировка > Бензопилы</div>
                    </div>
                    <div class="row">
                        <h3>Категория</h3>
                        <ul class="list-group">
                            <li><a href="#">Резина</a></li>
                            <li><a href="#">Велосипеды</a></li>
                            <li><a href="#" class="active">Экипировка</a></li>
                                <ul class="in-list-group">
                                    <li><a href="#">Экипировка</a></li>
                                    <li><a href="#" class="active">Бензопилы</a></li>
                                </ul>
                            <li><a href="#">Бензопилы</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8" id="content">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="imaginary_container"> 
                                <div class="input-group stylish-input-group">
                                    <input type="search" name="search" placeholder="Поиск по артикулу или наименованию" />
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <img src="images/search.png" />
                                        </button>  
                                    </span>
                                </div>
                            </div>        
                        </div>
                        <div class="col-md-3">
                            <div id="btn_price">
                                <button type="submit" class="btn">Скачать прайс</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="all-items">
                                <thead>
                                    <tr>
                                        <th>Артикул</th>
                                        <th>Наименование</th>
                                        <th>Цена ($)<br />Скидка <span>5%</span></th>
                                        <th>Заказ</th>
                                        <th>Сумма ($)</th>
                                    </tr>
                                </thead>
                                <tbody>    
                                    <tr>
                                        <td>A-635</td>
                                        <td>Амортизатор AD100, AXIS, BWS, JOG90 300mm, регулируемый NDT (красный металлик)</td>
                                        <td>6.90</td>
                                        <td><input type="text" name="quantity" placeholder="0" /></td>
                                        <td>2 568.90</td>
                                    </tr>
                                    <tr>
                                        <td>A-635</td>
                                        <td>Амортизатор AD100, AXIS, BWS, JOG90 300mm, регулируемый NDT (красный металлик)</td>
                                        <td>6.90</td>
                                        <td><input type="text" name="quantity" placeholder="0" /></td>
                                        <td>2 568.90</td>
                                    </tr>
                                    <tr>
                                        <td>A-635</td>
                                        <td>Амортизатор AD100, AXIS, BWS, JOG90 300mm, регулируемый NDT (красный металлик)</td>
                                        <td>6.90</td>
                                        <td><input type="text" name="quantity" placeholder="0" /></td>
                                        <td>2 568.90</td>
                                    </tr>
                                    <tr>
                                        <td>A-635</td>
                                        <td>Амортизатор AD100, AXIS, BWS, JOG90 300mm, регулируемый NDT (красный металлик)</td>
                                        <td>6.90</td>
                                        <td><input type="text" name="quantity" placeholder="0" /></td>
                                        <td>2 568.90</td>
                                    </tr>
                                    <tr>
                                        <td>A-635</td>
                                        <td>Амортизатор AD100, AXIS, BWS, JOG90 300mm, регулируемый NDT (красный металлик)</td>
                                        <td>6.90</td>
                                        <td><input type="text" name="quantity" placeholder="0" /></td>
                                        <td>2 568.90</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr><tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>
               
               
               
               
                
            </div>
        </div>
        

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>