{% extends "::base.html.twig" %}

{% block content %}

    <div class="main-content container fluid-container">
        <div class="row card">
            <div class="col-md-6">
                <div class="bl">
                    <p>Ф.И.О.</p>
                    <div class="border-grey">Тоцкойнов Р.М.</div>
                </div>
                <div class="bl">
                    <p>E-mail</p>
                    <div class="border-grey">pro100-rozhden.t@mail.ru</div>
                </div>
                <div class="bl">    
                    <p>Номера телефонов</p>
                    <div class="nomer-tel">
                        <div class="border-grey">+38 (096) 365-25-25</div>
                        <div class="border-grey">+38 (096) 365-25-25</div>
                        <div class="border-grey">+38 (096) 365-25-25</div>
                    </div>    
                </div>  
            </div>
            <div class="col-md-6">
                <div class="bl">
                    <p>Адрес доставки</p>
                    <div class="border-grey bg-grey">Город</div>
                    <div class="border-grey">Украина, Харьков, Мерефа</div>
                    <div class="row otdeleniya">
                        <div class="col-md-5">
                            <div class="border-grey bg-grey left">Новая почта</div>
                            <div class="border-grey bg-grey left">InTime</div>
                            <div class="border-grey bg-grey left">Delivery</div>
                        </div>
                        <div class="col-md-7">
                            <div class="border-grey">Отделение №18</div>
                            <div class="border-grey">Отделение №18</div>
                            <div class="border-grey">Отделение №18</div>
                        </div>
                    </div>
                    <div class="row skidka">
                        <div class="col-md-5">Скидка
                        </div>
                        <div class="col-md-7">5%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}